<launch>
  <arg name="urdf_file" default="$(find gemab_description)/urdf/gemab.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg urdf_file)" />

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
